---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-8 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">Future Continuous</h1>
    <p class="mb-2">
      Ejemplo: <span class="font-mono">I will be eating.</span>
    </p>
    <p class="max-w-xl text-center">
      El Future Continuous se usa para acciones que estarán ocurriendo en un
      momento específico del futuro.
    </p>
  </div>
</Layout>
