---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-8 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">Present Simple</h1>
    <p class="mb-2">Ejemplo: <span class="font-mono">I eat.</span></p>
    <p class="max-w-xl text-center">
      El Present Simple se usa para acciones habituales, hechos generales y
      rutinas.
    </p>
  </div>
</Layout>
