---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-8 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">Present Perfect Continuous</h1>
    <p class="mb-2">
      Ejemplo: <span class="font-mono">I have been eating.</span>
    </p>
    <p class="max-w-xl text-center">
      El Present Perfect Continuous se usa para acciones que comenzaron en el
      pasado y continúan hasta el presente.
    </p>
  </div>
</Layout>
